.bg-image--6 {
  background: burlywood;
}

.manage-account {
  margin-top: 100px;
}

.title-manage-account {
  font-weight: bold;
}

.user-info {
  margin-left: 20px ;
}

a.edit-account {
  color: #2e6e9e;
}

a.edit-account:hover {
  color: burlywood;
}

.part-account {
  background: #feefff;
  padding: 10px;
  height: 200px;
}

.account-detail-name {
  margin-top: 10px;
}
.title-account {
  font-weight: bold;
}

.title-address-default {
  font-size: 12px;
  color: #3e3e3e;
}

.title-account-address {
  font-weight: bold;
  color: black;
}

.row-account{
  margin-top: 15px;
}

.title-address {
  color: black;
  height: 50px;

}

a.link_address {
  color: #1d5987;
}

a.link_address:hover {
  color: burlywood;
}

.bg-image--4 {
  background: burlywood;
}

.wn__pagination {
  margin-top: 30px;

}

.item--cart {
  margin-top: 25px;
}

.image--cart {
  height: 80px;
}

.miniproduct {
  width: 350px;
  height: 280px;
  overflow: auto;
}

.fa.fa-times-circle {
  float: right !important;
  cursor: default;
}

.justify-content-between {
  margin-top: 20px !important;
  clear: both;
}

.bg-image--3 {
  background: burlywood;
}

.btn_payment {
  margin-top: 10px;
  width: 540px;
  background: #e59285;
}

.flash--shopping {
  margin-top: 120px;
}

.history-item-order {
  margin-top: 40px;
  padding: 10px;
}

.body--content--bill {
  margin-top: 200px;
}



.body--all--bill {
  margin-top: 10px  ;
}
.text--detail--bill {
  color: #2e6e9e !important;
}

.bill-line {
  border: 1px solid black;
}

.text-like-reply {
  font-size: 12px;
  color: #2e6e9e !important;
}
div[class*="question-product-"] {
  margin: 10px;
  clear: both;
}

.name-content .name-user {
  color: green;
}

span.no-like-question {
  position: absolute;
  width: 50px;
  bottom: -15px;
}

span.content-question {
  position: relative;
}

.like-reply {
  margin-left: 20px;
}

.btn-create-question {
  float: right;
}

.fa-thumbs-up {
  color: #2e6e9e;
}

.no-like-question {
  background: bisque;
  border-radius: 10px;
}

div[class*="reply-question-product-"] {
  margin-left: 40px;
}